.FOUR-ZERO-FOUR {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.FOUR-ZERO-FOUR .full-height {
    height: 100vh;
}

.FOUR-ZERO-FOUR .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.FOUR-ZERO-FOUR .position-ref {
    position: relative;
}

.FOUR-ZERO-FOUR .code {
    border-right: 2px solid;
    font-size: 26px;
    padding: 0 15px 0 15px;
    text-align: center;
}

.FOUR-ZERO-FOUR .message {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}